<script src="./weather.js" type="text/javascript"></script>
<script src="./addOrDeleteItemsOffline.js" type="text/javascript"></script>
</body>

<footer>
  Copyright @2020 Vishal Deep Gupta
</footer>

</html>
