html {
  background-image: linear-gradient(to top right,#9fecf0,  #d4daf1);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

.box {
  max-width: 400px;
  margin: 50px auto;
  padding: 1px;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #71c9ce;
  text-align: center;
}

#heading h1{
  color: #E4E9FD;
  font-size: 1.4rem;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item > a{
  text-decoration: none;
  margin-left: 10px;
}

.item-para{
  border-left: 2px solid #71c9ce ;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + .item-para > p{
  text-decoration: line-through;
  text-decoration-color: #71c9ce;
}

input[type="checkbox"] {
  margin: 20px;
}

.item-para > p {
  margin: 0;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

.add-button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  /* border-color: transparent; */
  background-color: #71c9ce;
  padding: 0px;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

.input-field {
  text-align: center;
  height: 60px;
  margin-bottom: 5px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 285px;
  box-shadow: inset 0 -3px 0 0 #71c9ce;
}

.input-field:focus {
  outline: none;
}

::placeholder {
  color: grey;
  opacity: .3;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
